%h1.tk-bello-pro Accommodation

#venues
	%div.venue
		%div.info
			%div.blurb
				%h2 The Crazy Bear
				%p
					All rooms at the venue itself have already been allocated, but for those
					of you staying here, you will be able to check in to your room after the
					ceremony.  If you <em>really</em> need to check in before, please let us
					know so we can try and arrange things with the venue.

				%ul.links
					%li.website
						%a{ :href => "http://crazybeargroup.co.uk/stadhampton/" } Website
					%li.map
						%a{ :href => "http://bit.ly/cb291210" } Map
					%li.directions
						%a{ :href => "http://maps.google.co.uk/maps?q=OX44+7UR" } Directions
		%div.location
			%img{ :src => "/imgs/bear-thumb.jpg", :width => "171", :height => "120", :alt => "The Crazy Bear" }
			%div.detail
				The Crazy Bear,<br />Stadhampton,<br />Oxfordshire,<br />OX44 7UR
		%br{ :style => "clear: both;" }

	%div.venue.last
		%div.info
			%div.blurb
				%h2 Premier Inn Oxford
				%p
					Rooms are available at the Premier Inn Oxford, which is only about 5
					miles from the Crazy Bear.  In addition, we will be organising a coach
					to pick you up from the hotel at 12:45pm, and there will be two runs
					back at midnight and 1am.  Now there really is no excuse for not letting
					your hair down.
				%p
					When you book, please make sure to say that you'd like an early check-in,
					and let us know if you'll be filling a seat on the coach.

				%ul.links
					%li.website
						%a{ :href => "http://www.premierinn.com/en/hotel/OXFLON/oxford" } Website
					%li.directions
						%a{ :href => "http://maps.google.co.uk/maps?q=OX4+2JT" } Directions
		%div.location
			%img{ :src => "/imgs/premierinn-thumb.jpg", :width => "171", :height => "120", :alt => "Premier Inn Oxford" }
			%div.detail
				Premier Inn Oxford,<br />Garsington Road,<br />Oxford<br />OX4 2JT
		%br{ :style => "clear: both;" }

