%h1.tk-bello-pro Gifts

%p
	We were adamant that we were not going to have a gift list.  We honestly do not expect gifts:
	we mean it when we say all we want is for you to come and share our special day.
%p
	But people keep asking us and therefore we understand that some people would like a little
	guidance.  Many years together means that anything &quot;traditional&quot; we put on a list
	would be a bit unneccesary as after all that time together we have accumulated as much as
	can physically fit in our house!
%p
	So, we’ve come up with one of those ‘modern’ ideas: We are going to Costa Rica for a 2 week MEGA TRIP and with your help we would love to do some pretty amazing and spectacular things.  You know?  The kind of things we’ve always dreamed about.
-#%p
-#	Here’s how our gift list works. Just pick the item you’d most like to give us. You’ll then be asked to leave your name and any message you have for us.
-#%p
-#	Through the wonders of the computer world you can then pay with a credit or debit card (via PayPal) - simples !  :)
-#%p
-#	We'll send you a photo of us enjoying your gift when we return, along with our sincerest thanks.

%ul#gifts= partial(:"gifts/gift", :collection => @gifts)

