%h1.tk-bello-pro Gifts

%p
	We were adamant that we were not going to have a gift list.  We honestly do not expect gifts:
	we mean it when we say all we want is for you to come and share our special day.  But people
	keep asking us and therefore we understand that some people would like a little guidance.
%p
	Many years together means that we've already filled our house, so we've decided to go on the
	holiday of a lifetime to Costa Rica on honeymoon, and with your help we'd love to do some
	pretty amazing and spectacular things.
%p
	Here's how our gift list works: just pick the item yould most like to give us (or choose your
	own) and, through the wonders of the interweb, you'll then be able to donate to our holiday
	fund via PayPal (even if you don't have an account).

%ul#gifts= partial(:"gifts/gift", :collection => @gifts)

