%h1 Dear Friends &amp; Family,

#cols.cf
	.column
		%p
			It all started 7 years ago in a sports hall in Oxford, and then descended
			into several years of running round after a piece of plastic in a ridiculous
			number of wet muddy fields in the UK followed by a few gloriously sunny ones
			in Australia and across Europe.  We've climbed up and down many a rope, skied
			down a fair few mountains together and been on a great many super-adventures!
	.column.right
		%p
			We're lucky to have had so much fun together, but we'd be nothing without each
			other.
		%p
			So here it is: our biggest adventure yet is about to begin!
		%p
			Our big fat wedding day is nearing and we simply cannot wait to share it with
			you: our absolute most favourite people in the whole wide world!
		#signature
			Love, Debbie &amp; Tim

