%h1.tk-bello-pro Dear Friends &amp; Family,

#cols
	.column
		Text goes here...
	.column.right
		We're <em>really</em> excited and can’t wait to get married and see all your gorgeous faces.
		#signature.tk-bello-pro
			Love, Debbie &amp; Tim
	%br{ :style => "clear: both" }

