!!! 5
%html.no-js
	%head
		%meta{ :charset => "utf-8" }
		%meta{ :name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;" }
		%title= page_title
		%link{ :rel => "stylesheet", :href => "/css/reset.css", :type => "text/css" }
		%link{ :rel => "stylesheet", :href => "/css/master.css", :type => "text/css" }
		/[if lt IE 8]
			%link{ :rel => "stylesheet", :href => "/css/ie.css", :type => "text/css" }
		%script{:src => "/js/modernizr-1.5.min.js"}
	%body

		#container

			%header
				%ul#nav
					%li
						%a{ :href => "/s" } Home
					%li
						%a{ :href => "/s/location" } Location
					%li
						%a{ :href => "/s/accommodation" } Accommodation
					%li
						%a{ :href => "/s/gifts" } Gifts
					%li
						%a{ :href => "/s/rsvp" } RSVP

			#main
				= yield

			%footer footer...

	/
		-# no SSL so we can shortcut things a bit
		%script{ :src => "http://www.google-analytics.com/ga.js" }
		%script try { var t = _gat._getTracker("UA-15793856-1"); t._trackPageview(); } catch(err) {}
