!!! 5
%html.no-js
	%head
		%meta{ :charset => "utf-8" }
		%meta{ :name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;" }
		%title= page_title
		%link{ :rel => "stylesheet", :href => "/css/reset.css", :type => "text/css" }
		%link{ :rel => "stylesheet", :href => "/css/master.css", :type => "text/css" }
		/[if lt IE 8]
			%link{ :rel => "stylesheet", :href => "/css/ie.css", :type => "text/css" }
		%script{:src => "/js/modernizr-1.5.min.js" }
		%script{:src => "http://use.typekit.com/xvj2ebi.js" }
		%script try { Typekit.load(); } catch(e) {}
	%body

		#container

			#banner
				%h2#names
					Debbie &amp; Tim
				#date
					are getting married on Wednesday the 29<sup>th</sup> of December 2010

			#header
				%ul#nav
					%li
						%a{ :href => "/s", :class => ("active" if current_section == 'home') } Home
					%li
						%a{ :href => "/s/location", :class => ("active" if current_section == 'location') } Location
					%li
						%a{ :href => "/s/accommodation", :class => ("active" if current_section == 'accommodation') } Accommodation
					%li
						%a{ :href => "/s/gifts", :class => ("active" if current_section == 'gifts') } Gifts
					%li
						%a{ :href => "/s/rsvp", :class => ("active" if current_section == 'rsvp') } RSVP

			#main
				= yield

		%footer
			#boxes
				#who.box
					%a{ :href => "http://www.flickr.com/photos/timblair/sets/72157625275124796/", :title => "Our wedding pre-shoot photos" }
						%img{ :src => "/imgs/footer-us-jump.jpg", :width => "90", :height => "90", :align => "right" }
					%h3 Who?
					Tim is a geek.  Debbie is also a geek, but in a very different way.  They throw plastic discs and lower each other up and down ropes.
				#where.box.last
					%a{ :href => "/s/location", :title => "More details on the location" }
						%img{ :src => "/imgs/footer-map.png", :width => "90", :height => "90", :align => "right" }
					%h3 Where &amp; When?
					The fantastic, funky, fabulous Crazy Bear in the village of Stadhampton, Oxfordshire, on Wednesday, 29th December 2010 at 1:30pm.
				%br{ :style => "clear: both" }

		#ticker= ticker_text

	/
		-# no SSL so we can shortcut things a bit
		%script{ :src => "http://www.google-analytics.com/ga.js" }
		%script try { var t = _gat._getTracker("UA-15793856-1"); t._trackPageview(); } catch(err) {}
