%h1.tk-bello-pro The Venue

%p You've never imagine that we'd choose somewhere, well, <em>normal</em> to get married.  And you'd be right, we haven't.  We're going to be spending the day at the wonderfully-named Crazy Bear Hotel

%img{ :src => "/imgs/bear-thumb.jpg", :width => "171", :height => "120", :alt => "The Crazy Bear" }

The Crazy Bear,<br />Stadhampton,<br />Oxfordshire,<br />OX44 7UR
%a{ :href => "http://crazybeargroup.co.uk/stadhampton/" } Website
%a{ :href => "http://maps.google.co.uk/maps?q=OX44+7UR" } Google Maps

