html,body,p,div {
	font-size: 1em;
	/* font-family: "Hoefler Text", Constantia, Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif; */
	font-family: Calibri, 'Gill Sans', 'Trebuchet MS', sans-serif;
	line-height: 150%;
}

body {
	/* background-color: #9C8AA5; */
	background: #DDD url(../imgs/footer-bg-thin.png);
}

p { margin: 0.5em 0; }

#container {
	background-color: #FFFFFF;
}

#banner {
	background-color: #421C52;
	background: #421C52 url(../imgs/header-bg-thin.png);
	color: #F1F0FF;
	border-bottom: 1px solid #9C8AA5;
	padding: 10px;
	text-align: center;
}

#banner h2#names {
	font-size: 500%;
	font-weight: normal;
	margin: 0.5em 0 0.3em;
}

#banner #date {
	font-size: 130%;
}

header {
	margin: 0 auto;
	/* width: 960px; */
	border-bottom: 1px solid #732C7B;
	background: #DDD;
}

ul#nav {
	text-align: center;
	padding: 0.5em 0 0.3em;
}
ul#nav li {
	display: inline-block;
	font-size: 160%;
	margin: 0 1em;
}
ul#nav li a {
	text-decoration: none;
	color: #666;
}
ul#nav li a:hover {
	color: #421C52;
}

#main {
	margin: 1em auto;
	width: 800px;
	min-height: 300px;
}

#main h1 {
	margin: 1.5em 0 0.5em;
	font-weight: normal;
	font-size: 180%;
	padding-bottom: 1em;
	border-bottom: 1px solid #CCC;
}

hr {
	width: 100%;
	height: 1px;
	color: #CCC;
	border: none;
	margin-bottom: 1em;
}

#cols .column {
	margin-right: 20px;
	width: 390px;
	float: left;
}

#cols .column.right {
	margin-right: 0;
}


#signature {
	margin: 0.5em 0 0.7em;
	font-weight: normal;
	font-size: 180%;
	text-align: right;
}

#signature.bordered {
	border-top: 1px solid #CCC;
	margin: 1em 0 0.7em;
	padding-top: 0.8em;
}


/* VENUE LIST ============================ */

#venues {
	margin-bottom: 1em;
	padding-bottom: 1em;
	/* padding: 0 50px 1em; */
}

.venue {
	margin-top: 1em;
	padding-bottom: 1.5em;
	border-bottom: 1px solid #CCC;
}

.venue.last {
	padding-bottom: 1em;
	border-bottom: none;
}

.venue .blurb {
	width: 55%;
	float: left;
}

.venue .links {
	margin-top: 1em;
}

.venue .location {
	float: right;
	width: 42%;
}

.venue img {
	float: left;
	padding: 3px;
	border: 1px solid #421C52;
}

.venue .detail {
	float: right;
	width: 41%;
}

.venue .links a {
	display: block;
	float: left;
	width: 6em;
	color: #333;
	text-decoration: none;
	background-color: rgba(0,0,0,.1);
	background-position: 12px center; 
	background-repeat: no-repeat;
	padding: 0.3em 0.4em 0.3em 2.1em;
	margin-right: 0.5em;
	
	-webkit-border-radius: 19px;
	-moz-border-radius: 19px;
	border-radius: 19px;
	
	-webkit-box-shadow: inset 0 1px 0px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 1px 0px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 0px rgba(0,0,0,.1);

}
.venue .links a:hover {
	background-color: rgba(200,200,200,.7);
}
.venue .links li.website a { background-image: url(../imgs/icons/world.png); }
.venue .links li.website a:hover { background-image: url(../imgs/icons/world-on.png); }
.venue .links li.map a { background-image: url(../imgs/icons/map.png); }
.venue .links li.map a:hover { background-image: url(../imgs/icons/map-on.png); }
.venue .links li.directions a { background-image: url(../imgs/icons/car.png); }
.venue .links li.directions a:hover { background-image: url(../imgs/icons/car-on.png); }


/* GIFT LIST ============================= */

#gifts {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid #CCC;
}

#gifts li {
	margin-bottom: 1em;
	padding: 0 50px 1em;
	border-bottom: 1px solid #CCC;
}

#gifts li img {
	float: left;
	padding: 3px;
	margin: 0 10px 0 10px;
	border: 1px solid #421C52;
}

.gift-desc {
	width: 70%;
	float: left;
}
.gift-name {
	font-weight: bold;
}
.gift-info {
	font-size: 80%;
}

.gift-cost {
	float: right;
	text-align: center;
	color: #666;
}

.gift-price {
	font-size: 150%;
}

.gift-form {
}

.no-js .gift-form a.submit-link { display: none; }
.js .gift-form .submit { display: none; }

.gift-form a.submit-link {
	text-align: left;
	display: block;
	float: left;
	width: 4.3em;
	color: #333;
	text-decoration: none;
	background: rgba(0,0,0,.1) 12px center no-repeat url(../imgs/icons/package.png);
	padding: 0.3em 0.4em 0.3em 2.1em;
	margin-right: 0.5em;
	
	-webkit-border-radius: 19px;
	-moz-border-radius: 19px;
	border-radius: 19px;
	
	-webkit-box-shadow: inset 0 1px 0px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 1px 0px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 0px rgba(0,0,0,.1);

}
.gift-form a.submit-link:hover {
	background-color: rgba(200,200,200,.7);
	background-image: url(../imgs/icons/package-on.png);
}


/* FOOTER ================================ */

footer {
	margin-top: 10px;
	border-top: 1px solid #732C7B;
	background: #DDD url(../imgs/footer-bg-thin.png);
}

footer h3 {
	font-weight: normal;
	margin: 5px 0;
	font-size: 120%
}

footer #boxes {
	margin: 10px auto;
	width: 800px;
	font-size: 90%;
}

footer #boxes img {
	padding: 3px;
	margin: 0 0 0 10px;
	border: 1px solid #421C52;
}

footer .box {
	margin-right: 20px;
	width: 390px;
	float: left;
}

footer #where {
	margin-right: 0;
}

