html,body,p,div {
	font-size: 1em;
	font-family: "Hoefler Text", Constantia, Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif;
	line-height: 150%;
}

body {
	/* background-color: #9C8AA5; */
	background: #DDD url(../imgs/footer-bg-thin.png);
}

p { margin: 0.5em 0; }

img {
	-moz-box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.5);
}

h1, h2, h3 {
	font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
}

#container {
	background-color: #FFFFFF;
	border-bottom: 1px solid #999;
}

#banner {
	background-color: #4D2C50;
	color: #F1F0FF;
	border-bottom: 1px solid #241227;
	padding: 1.5em 0 10px;
	text-align: center;
}

#banner h2#names {
	display: inline-block;
	width: 498px;
	height: 75px;
	background-image: url(../imgs/debbie_tim_title.png);
	text-indent: -10000px;
	margin: 20px 0;
}

#banner #date {
	font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
	font-size: 80%;
}

#header {
	margin: 0 auto;
	background: #DDD;
	border-bottom: 1px solid #999;
}

ul#nav {
	text-align: center;
	padding: 0.5em 0 0.3em;
}
ul#nav li {
	font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
	font-weight: bold;
	display: inline-block;
	margin: 0 1em;
}
ul#nav li a {
	text-decoration: none;
	color: #666;
}
ul#nav li a:hover, ul#nav li a.active {
	color: #421C52;
}

#main {
	margin: 1em auto;
	width: 800px;
	min-height: 300px;
}

#main h1 {
	margin: 1.5em 0 0.5em;
	font-weight: normal;
	font-size: 180%;
	padding-bottom: 1em;
	border-bottom: 1px solid #CCC;
}

#main a {
	color: #4D2C50;
}

hr {
	width: 100%;
	height: 1px;
	color: #CCC;
	border: none;
	margin-bottom: 1em;
}

#cols .column {
	margin-right: 20px;
	width: 390px;
	float: left;
}

#cols .column.right {
	margin-right: 0;
}


#signature {
	width: 100%;
	margin-top: 0.5em;
	float: right;
	width: 230px;
	height: 49px;
	background-image: url(../imgs/sig-med.png);
	text-indent: -10000px;
}

#cols #signature {
	margin-top: 2em;
}


/* VENUE LIST ============================ */

#venues {
	margin-bottom: 1em;
	padding-bottom: 1em;
	/* padding: 0 50px 1em; */
}

.venue {
	margin-top: 1em;
	padding-bottom: 1.5em;
	border-bottom: 1px solid #CCC;
}

.venue.last {
	padding-bottom: 1em;
	border-bottom: none;
}

.venue .blurb {
	width: 55%;
	float: left;
}

.venue .links {
	margin-top: 1em;
}

.venue .location {
	float: right;
	width: 42%;
}

.venue img {
	float: left;
	padding: 3px;
}

.venue .detail {
	float: right;
	width: 41%;
}

#main .venue .links a {
	font-family: Calibri, 'Gill Sans', 'Trebuchet MS', sans-serif;
	display: block;
	float: left;
	width: 6em;
	color: #333;
	text-decoration: none;
	background-color: rgba(0,0,0,.1);
	background-position: 12px center;
	background-repeat: no-repeat;
	padding: 0.3em 0.4em 0.3em 2.1em;
	margin-right: 0.5em;

	-webkit-border-radius: 19px;
	-moz-border-radius: 19px;
	border-radius: 19px;

	-webkit-box-shadow: inset 0 1px 0px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 1px 0px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 0px rgba(0,0,0,.1);

}
#main .venue .links a:hover {
	background-color: #4D2C50;
	color: #F1F0FF;
}
.venue .links li.website a { background-image: url(../imgs/icons/world.png); }
.venue .links li.website a:hover { background-image: url(../imgs/icons/world-on.png); }
.venue .links li.map a { background-image: url(../imgs/icons/map.png); }
.venue .links li.map a:hover { background-image: url(../imgs/icons/map-on.png); }
.venue .links li.directions a { background-image: url(../imgs/icons/car.png); }
.venue .links li.directions a:hover { background-image: url(../imgs/icons/car-on.png); }


/* GIFT LIST ============================= */

#gifts {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid #CCC;
}

#gifts li {
	margin-bottom: 1em;
	padding: 0 50px 1em;
	border-bottom: 1px solid #CCC;
}

#gifts li img {
	float: left;
	padding: 3px;
	margin: 0 10px 0 10px;
}

.gift-desc {
	width: 70%;
	float: left;
}
.gift-name {
	font-weight: bold;
}
.gift-info {
	font-size: 80%;
}

.gift-cost {
	float: right;
	text-align: center;
	color: #666;
}

.gift-price {
	font-size: 150%;
}

.gift-form {
}

.no-js a.submit-link { display: none; }
.js .submit { display: none; }

#main a.submit-link {
	font-family: Calibri, 'Gill Sans', 'Trebuchet MS', sans-serif;
	text-align: left;
	display: block;
	float: left;
	width: 4.3em;
	color: #333;
	text-decoration: none;
	background: rgba(0,0,0,.1) 12px center no-repeat url(../imgs/icons/package.png);
	padding: 0.3em 0.4em 0.3em 2.1em;
	margin-right: 0.5em;

	-webkit-border-radius: 19px;
	-moz-border-radius: 19px;
	border-radius: 19px;

	-webkit-box-shadow: inset 0 1px 0px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 1px 0px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 0px rgba(0,0,0,.1);

}
#main a.submit-link:hover {
	background-color: #4D2C50;
	color: #F1F0FF;
	background-image: url(../imgs/icons/package-on.png);
}


/* VENUE LIST ============================ */

#rsvp {
}

#rsvp #cols label {
	display: block;
}

#rsvp input, #rsvp select {
	font-size: 120%;
}

#rsvp #question {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid #CCC;
	text-align: center;
}

#rsvp #question div {
	margin: 0 auto;
}

#rsvp select {
	width: 4em;
	margin: 0 0.5em;
}

#rsvp #cols {
}

#rsvp div.field {
	margin-bottom: 1em;
}

#rsvp .text-input {
	width: 100%;
}

#rsvp #info {
	height: 8em;
}

#rsvp .whisper {
	font-size: 80%;
	color: #666;
}

#main #rsvp a.submit-link {
	float: right;
	margin: 0.5em 0;
	width: 5em;
	background-image: url(../imgs/icons/email.png);
}

#main #rsvp a.submit-link:hover {
	background-image: url(../imgs/icons/email-on.png);
}


/* FOOTER ================================ */

footer {
	margin-top: 15px;
	margin-bottom: 50px;
}

footer h3 {
	font-weight: normal;
	margin: 5px 0;
	font-size: 120%
}

footer #boxes {
	margin: 15px auto;
	width: 800px;
	font-size: 90%;
}

footer #boxes img {
	padding: 3px;
	margin: 0 0 0 10px;
}

footer .box {
	margin-right: 20px;
	width: 390px;
	float: left;
}

footer #where {
	margin-right: 0;
}


/* TICKER ================================ */

#ticker {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	color: #241227;
	background-color: #705673;
	background-color: rgba(255, 255, 255, .2);
	border-bottom: 1px solid #241227;
	font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
	font-size: 90%;
	line-height: 2em;
}

