%h1.tk-bello-pro Oh no!

%p
	We're really sorry you can't come: is there anything we can do to change your mind?
	We'd love for you to be there, but can understand if it's not possible.  Let's make
	sure we catch up soon!

#signature.bordered.tk-bello-pro
	Love, Debbie &amp; Tim


