%h1 Yay!

%p
	Thank you for getting back to us promptly, and we can't wait to share what will
	undoubtedly be a fantastic day with you.  If you have any more questions, or
	something you've forgotten to mention, you can always
	<a href="mailto:wedding@bla.ir">email us</a>.  Otherwise, we'll see you on the
	29th December!

#signature
	Love, Debbie &amp; Tim

