%h1.tk-bello-pro Thank You!

%p
	Thank you so much for your kind donation to our holiday of a lifetime.  We can't wait to
	get on the plane, but we're also relishing the moment when we get to share our experiences
	and stories with you when we get back!

#signature.bordered.tk-bello-pro
	Love, Debbie &amp; Tim

